In [1]:
import pandas as pd

In [1]:
import numpy as np

In [2]:
data_sta = pd.read_csv('example_sprit_cut_station.csv', delimiter = ',')
data_pri = pd.read_csv('example_sprit_cut_prices.csv', delimiter = ',')
#data_prices.head()
#data_prices.shape

In [3]:
null_columns=data_sta.columns[data_sta.isnull().any()]
data_sta[null_columns].isnull().sum()

Series([], dtype: float64)

In [4]:
null_columns=data_pri.columns[data_pri.isnull().any()]
data_pri[null_columns].isnull().sum()

Series([], dtype: float64)

In [5]:
data_pri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2189526 entries, 0 to 2189525
Data columns (total 1 columns):
STID;E5;E10;DIESEL;DATE_CHANGED;CHANGED    object
dtypes: object(1)
memory usage: 16.7+ MB

In [7]:
data_pri.head()

             STID;E5;E10;DIESEL;DATE_CHANGED;CHANGED
0  01bf5a06-4248-43a5-9524-56123fa3ab2f;1589;1549...
1  01bf5a06-4248-43a5-9524-56123fa3ab2f;1569;1529...
2  01bf5a06-4248-43a5-9524-56123fa3ab2f;1569;1529...
3  01bf5a06-4248-43a5-9524-56123fa3ab2f;1539;1499...
4  01bf5a06-4248-43a5-9524-56123fa3ab2f;1529;1489...

In [19]:
data_sta.head()
#data_station.shape

,ID,VERSION,VERSION_TIME,NAME,BRAND,STREET,HOUSE_NUMBER,POST_CODE,PLACE,PUBLIC_HOLIDAY_IDENTIFIER,LAT,LNG
0,d37bee76-91b6-485a-b974-24f1b0d391fa,4,2015-01-09 10:26:15.000000,Aral Tankstelle,ARAL,An der Tagweide,2,76139,Karlsruhe,\N,49.020280,8.459429
1,51d4b652-a095-1aa0-e100-80009459e03a,796,2015-09-28 21:00:13.000000,JET MANNHEIM UNTERMUEHLAUSTRASSE 83,JET,UNTERMUEHLAUSTRASSE 83,\N,68169,MANNHEIM,\N,49.508962,8.467691
2,c7caf231-0e47-40db-92de-9349a2eb2bef,4,2014-09-26 13:24:57.000000,Aral Tankstelle,ARAL,Trippstadter Straße,69,67663,Kaiserslautern,\N,49.433754,7.757465
3,51d4b53b-a095-1aa0-e100-80009459e03a,796,2015-09-28 21:00:13.000000,JET KAISERSLAUTERN PARISER STR. 167,JET,PARISER STR. 167,\N,67655,KAISERSLAUTERN,\N,49.442200,7.748360
4,51d4b70f-a095-1aa0-e100-80009459e03a,796,2015-09-28 21:00:13.000000,JET GERMERSHEIM MUENCHENER STRASSE 12,JET,MUENCHENER STRASSE 12,\N,76726,GERMERSHEIM,\N,49.226800,8.374400

In [14]:
data_sta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 824 entries, 0 to 823
Data columns (total 12 columns):
ID                           824 non-null object
VERSION                      824 non-null int64
VERSION_TIME                 824 non-null object
NAME                         824 non-null object
BRAND                        802 non-null object
STREET                       820 non-null object
HOUSE_NUMBER                 674 non-null object
POST_CODE                    820 non-null object
PLACE                        820 non-null object
PUBLIC_HOLIDAY_IDENTIFIER    824 non-null object
LAT                          824 non-null float64
LNG                          824 non-null float64
dtypes: float64(2), int64(1), object(9)
memory usage: 77.3+ KB

In [20]:
data_sta['PLACE'].nunique()

198

In [13]:
data_pri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 6 columns):
STID            1048575 non-null object
E5              1048575 non-null int64
E10             1048575 non-null int64
DIESEL          1048575 non-null int64
DATE_CHANGED    1048575 non-null object
CHANGED         1048575 non-null int64
dtypes: int64(4), object(2)
memory usage: 48.0+ MB

In [49]:
data_pri.head()

,STID,E5,E10,DIESEL,CHANGED
DATE_CHANGED,,,,,
2014-10-02 05:22:01.000000,01bf5a06-4248-43a5-9524-56123fa3ab2f,1589,1549,1389,21
2014-10-02 05:26:01.000000,01bf5a06-4248-43a5-9524-56123fa3ab2f,1569,1529,1369,21
2014-10-02 09:06:01.000000,01bf5a06-4248-43a5-9524-56123fa3ab2f,1569,1529,1359,1
2014-10-03 12:14:01.000000,01bf5a06-4248-43a5-9524-56123fa3ab2f,1539,1499,1339,21
2014-10-03 14:14:01.000000,01bf5a06-4248-43a5-9524-56123fa3ab2f,1529,1489,1329,21

In [51]:
import matplotlib.pyplot as plt
data_pri.plot(x="E5", y= "E10")
plt.show()

In [53]:
data_pri.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1048575 entries, 2014-10-02 05:22:01.000000 to 2015-05-13 16:46:01.000000
Data columns (total 5 columns):
STID       1048575 non-null object
E5         1048575 non-null int64
E10        1048575 non-null int64
DIESEL     1048575 non-null int64
CHANGED    1048575 non-null int64
dtypes: int64(4), object(1)
memory usage: 68.0+ MB